.detail-page {
  padding: 10px;
  align-items: left;
  margin:8rem !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.idea-name {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  padding:0;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.idea-name {
  animation: zoomIn 1s ease-in-out;
}

.idea-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
}

.comment-section {
  margin-top: 30px;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment-box {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.add-comment-btn {
  background-image: linear-gradient(to right,rgb(229, 231, 206),rgb(206, 187, 249));
  color: black;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 30px;
  width:20%;
  align-items: center;
}

.add-comment-btn:hover {
  background-image: linear-gradient(to right,rgb(229, 231, 206),rgb(206, 187, 249));
}

/* Popup styles */
.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  text-align: center;
  animation: fadeIn 0.5s, fadeOut 3s 2.5s;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
